@import "tailwindcss";

/*  styling to stay consistent by using reusable variables */

:root {
  /* Brand Colors */
  --blue: #30BCED;
  --dark: #303036;
  --white: #FFFAFF;
  --red: #FC5130;
  --black: #050401;

  /* Semantic usage (recommended) */
  --bg: var(--white);
  --text: var(--black);
  --accent: var(--blue);
  --muted: var(--dark);
  --danger: var(--red);

  /* typography */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font-family: var(--sans);
  color: var(--text);
  background-color: var(--bg);
}

/* reset */
body {
  margin: 0;
}

/* ensure the app takes full height and allows for flex layout */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}